original/bower_components/
www/polymer_components_055/
releases/
oauth-keys/key.twitter.js

*.apk
*.ap_
*.dex
*.class

platforms/android/assets/www
platforms/android/bin/
platforms/android/gen/

local.properties
._*
.DS_Store
